@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@ag-grid-community/styles/ag-grid.css';
@import '@ag-grid-community/styles/ag-theme-quartz.css';
@import '@adaptabletools/adaptable-react-aggrid/base.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/light.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/dark.css';

:root {
  --ab__font-family: Helvetica;
}

body {
  font-family: var(--ab__font-family);
}

svg {
  display: inline;
}
